{% extends "@EdgarEzUIProfile/profile/right/view.html.twig" %}

{% block subtitle %}
    {% if subtitle is not defined %}
        {% set subtitle = 'Account managment'|trans %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block right_sidebar %}
    <div class="col-sm-1 pt-4 bg-secondary ez-context-menu">
        {{ knp_menu_render('edgar_ezuiprofile.menu.profile.account_sidebar_right', {'template': '@EzPlatformAdminUi/parts/menu/sidebar_right.html.twig'}) }}
    </div>
{% endblock right_sidebar %}

{% block profilecontent %}
    {{ knp_menu_render('edgar_ezuiprofile.menu.profile.account_sidebar_right', {'template': '@EdgarEzUIProfile/parts/menu/center.html.twig'}) }}
{% endblock %}