{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            <div class="col-sm-1 bg-dark pt-4 ez-side-menu"> {# @todo sidebars should be moved to layout.html.twig !! #}
                {{ knp_menu_render('edgar_ezuiprofile.menu.profile.sidebar_left', {'template': '@EzPlatformAdminUi/parts/menu/sidebar_left.html.twig'}) }}
            </div>
        {% endblock left_sidebar %}

        <div class="col-sm-11 px-0 pb-4">
            <div class="ez-header pt-1 pb-2">
                <div class="container">
                    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
                        title: 'Manage user security and profile'
                    } %}
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
