{% extends "@EzPlatformAdminUi/layout.html.twig" %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            <div class="col-sm-1 bg-dark pt-4 ez-side-menu"> {# @todo sidebars should be moved to layout.html.twig !! #}
                {{ knp_menu_render('edgar_ezuiprofile.menu.profile.sidebar_left', {'template': '@EzPlatformAdminUi/parts/menu/sidebar_left.html.twig'}) }}
            </div>
        {% endblock left_sidebar %}

        <div class="col-sm-11 px-0 pb-4">
            <div class="ez-header pt-1 pb-2">
                <div class="container">
                    {% block subtitle %}
                        {% include '@EdgarEzUIProfile/parts/page_title.html.twig' with {
                            title: 'Manage profile and security',
                            iconName: 'author',
                            subtitle: subtitle|default('')
                        } %}
                    {% endblock %}
                </div>
            </div>

            <div class="container-fluid ez-main-container">
                <section class="container mt-4">
                    {% block profilecontent %}
                        {% trans %}
                            Manage your user profile, security configuration ...
                        {% endtrans %}
                    {% endblock %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
